/**
  Hunchbaque Css
*/

/*
  Eliminate all margins and padding on all elements. This is a necessity since spacings and sizes are not consistent from browser to browser. We will build all the default spacings up next.
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Define the default sizes and spacings for the primary tags.
*/
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10pt;
  text-align: center; /* The text-align: center; in the body is to allow IE5.5 and under browsers to center the page. */
  line-height: 1.7em;
  background: #888 url(images/bg.jpg) repeat-x 0 0;
}

h1, h2, h3, h4 { font: bold 1.0em "Helvetica Neue", Helvetica, Arial, sans-serif; }
	
h1{ font-size: 1.8em; line-height: 1.4286em; letter-spacing: -1px; color: #a90000;}
h2 { font-size: 1.6em; line-height: 1.3em; letter-spacing: -1px; color: #a90000;  }

	h2 a, h2 a:visited { color: #a90000; }
	
	h2 a:hover { color: #20252d; }
	
	.page h1 { margin: 0 0 0.6071em 0; border-bottom: 0.10714em double #ccc; }
	
	.archive h1 { font-size: 1.8em; line-height: 1.66667em; margin: 0 0 1.66667em 0; color: #20252d; }
	
	
h3 { font-size: 1.3846em; line-height: 1.1111em; color: #20252d; }

	.entry h3 { margin: 1.6667em 0 0.5556em 0; }
	
	#comments h3 { font-size: 1.4em; }
	
	#comments h3.comment_intro { margin: 0 0 1.11111em 0; padding: 2.05556em 0 0 0; border-top: 0.166667em double #ccc; }

	#comments h3#respond { margin: 2.2222em 0 0 0; }
	
h4 { font-size: 1.1538em; line-height: 1.3333em; color: #20252d; }


p,
ul,
ol,
dl {
  padding: .4em 0;
}

ul,
ol,
dd {
  margin-left: 2.5em;
}

li ul,
li ol {
  margin-left: 1.5em;
}

li ol li {
  list-style-type: lower-alpha;
}

li,
dt,
dd {
  padding: .2em 0;
}

dt {
  font-weight: bold;
}

table {
  margin: .5em auto;
  width: 99%;
  border: 1px solid #eee;
}

th,
td {
  padding: .2em;
}

th {
  color: #eeeeee;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-color: #808080;
}

tr.odd td {
  background-color: #ffffff;
}

tr.even td {
  background-color: #d0d0d0;
}

img {
  border-width: 0;
}
a { color: #a90000; text-decoration: none; }

a:visited { color: #777; text-decoration: none; }

a:hover { color: #a90000; text-decoration: none; }
	
a img { border: none; }

blockquote { margin: 0 0 1.5385em 1.5em; padding: 0 0 0 0.7692em; font-family: Georgia, "Times New Roman", Times, serif; color: #555; border-left: 0.2828em solid #a90000; }

abbr, acronym { font-size: 0.8462em; line-height: 1.0em; border-bottom: 1px dotted #999; text-transform: uppercase; letter-spacing: 1px; cursor: help; }

code { color: #090; font-family: Courier, "Courier New", monospace; line-height: 1.0em;  background: #ececec;}

pre { margin: 0 0 1.5385em 0; padding: 0.7692em; font-size: 1.3em; overflow: auto; background: #ececec; }



/*
  Define the helper classes.
*/
.clear-block:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}
/* End hide from IE-mac */

.form-item,
fieldset {
  margin: 1em 0;
  padding: 0 .5em;
}

fieldset.collapsed {
  overflow: hidden;
  height: 1px;
  border-width: 1px 0 0 0;
}

.description {
  padding: .5em;
  font-size: .8em;
  font-style: italic;
}

.messages,
.help {
  margin: 1em;
  padding: 1em;
  border-width: 2px;
  border-style: solid;
}

.error {
  border-color: #ff0000;
  background-color: #ffdddd;
}

.status {
  font-style: italic;
  border-color: #9FE4FF;
  background-color: #D9F4FF;
}

.help {
  font-style: italic;
  border-color: #FEFF7F;
  background-color: #ffffcc;
}

.help .more-help-link {
  font-weight: bold;
}

/*
  Layout the core sections of the site.
*/
#page {
  margin: auto;
  width: 970px;
  text-align: left; /* This is to set things right after centering everything in the body. */
  border-right: 2px solid #20252d;
    border-left: 2px solid #20252d;
	  background: #fff; 
  

}

#header {
text-align: center;
}

#wrapper {
  width: 100%;	  background: #fff;

}

#subwrapper {
  float: left;
  width: 99%;	  background: #fff;

}

#container {
  float: right;
  width: 99%;	  background: #fff;

}

#container .content {
  overflow: hidden;	  background: #fff;

}
#header { background: #20252d; border-bottom: 0.8em solid #a90000; color: #fff; }

		
#footer {  background: #20252d; border-top: 0.5em solid #a90000; color: #fff; }


/* 3 column layout */
body.sidebars #subwrapper {
  margin-right: -182px;
}

body.sidebars #container {
  margin-left: -181px;
}

body.sidebars #main_supplements {
  float: left;
  width: 181px;
}

body.sidebars #secondary_supplements {
  float: right;
  width: 182px;
}

body.sidebars #container #content {
  margin: 0 182px 0 181px;
  padding: 0 1em;
}

/* 2 column layout (main) */
body.main-sidebar #container {
  margin-left: -181px;
}

body.main-sidebar #main_supplements {
  float: left;
  width: 181px;
}

body.main-sidebar #container #content {
  margin-left: 181px;
  padding: 0 0 0 1em;
}

/* 2 column layout (secondary) */
body.secondary-sidebar #subwrapper {
  margin-right: -150px;
}

body.secondary-sidebar #secondary_supplements {
  float: right;
  width: 182px;
}

body.secondary-sidebar #container #content {
  margin-right: 182px;
  padding: 0 1em 0 0;
}

/*
  Area specific layout
*/
/*---:[ #header styles ]:---*/

#logo {display: inline; margin: 0 5px 0 0; }
	
	#sitename, #sitename a{text-align:left; margin: 0 0 0 0; display: inline; font: normal 1.6em "American Typewriter", "Trebuchet MS", Verdana, sans-serif; color: #fff; }
		 
 #tagline { text-align:left; display: inline; font: normal 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;  }

#searchbox{
float: right;
right: 50px;
position: absolute;
top: 20px;

}


/* Tabs */

div.tabs ul.primary {
  clear: both;
  margin: 2em 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 1.5em;
  border-bottom: #20252d 2px solid;
}

div.tabs ul.primary li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 2px;
  list-style-type: none;
  text-align: center;
}

div.tabs ul.primary a {
  padding: 6px 10px;
  color: #999999;
  text-decoration: none;
  line-height: 1.3em;
  border-color: #999999;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  background-color: #eeeeee;
}

div.tabs ul.primary a.active {
  padding: 6px 10px;
color: #a90000; text-decoration: underline;  
font-weight: bold;
  border-color: #20252d #20252d #eeeeee #20252d;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  background-color: #eeeeee;
}

div.tabs ul.primary a:hover {
   color: #fff !important; background: #a90000; text-decoration: none !important;
}

div.tabs ul.secondary {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

div.tabs ul.secondary li {
  display: inline;
  padding: 0 7px 0 5px;
  list-style-type: none;
  border-right: #20252d 1px solid;
}

div.tabs ul.secondary a {
  color: #999999;
  text-decoration: none;
}

div.tabs ul.secondary a.active {
  color: #20252d;
  font-weight: bold;
}

div.tabs ul.secondary a:hover {
  text-decoration: underline;
}

/* Main content area */
#breadcrumb {
  padding: .1em;
    margin: 0.5em;
border-bottom: 1px dashed #ccc;clear: both;
border-top: 1px dashed #ccc;

}

#mission {
  padding: .5em;
    margin:  3em 0 ;
  background: #E6E3D7;
  border: 1px dotted #DBD5C5;
  clear: both;

}
#search{
 float: right;
}
/* Header styles */
#header {
  padding: .5em;
}

/* Main menu styles */
#main_menu {
  font:bold 1em "Georgia", verdana, sans-serif;
  background: #EFEEE4;
  text-align: center;

}

#main_menu ul {
list-style: none;
  padding: .5em;

}

#main_menu li {
  display: inline;
  list-style-type: none;  padding: 0 .5em;

}
	
#main_menu ul li a, #main_menu ul li a:visited, #secondary_menu ul li a, #secondary_menu ul li a:visited {  padding: 0.5em 0.8125em 0.5em 0.8125em; color: #a90000; }
	
#main_menu ul li a:hover, #main_menu ul li a.active:hover, #secondary_menu ul li a:hover, #secondary_menu ul li a.active:hover {  color: #fff !important; background: #a90000; text-decoration: none !important; }
		
#main_menu ul li a.active, #main_menu ul li a.active:visited, #secondary_menu ul li a.active, #secondary_menu ul li a.active:visited {color: #fff;  background: #a90000; text-decoration: none; }

	

/* Secondary menu styles */
#secondary_menu {
  clear: both;
  width: 100%;
  text-align: center;
    font:bold 1.1em "Georgia", verdana, sans-serif;
background: #EFEEE4;
}

#secondary_menu ul {
  margin: 0;
  padding: .5em;
}

#secondary_menu li {
  display: inline;
  padding: 0 .5em;
  list-style-type: none;
  text-align: left;
}

/* Content styles */

.submitted { font-size: 0.9em; line-height: 1.5455em; margin: 0 0 1.8182em 0; color: #aaa; border-bottom: 0.2727em double #ccc; }

	.submitted a, .post_date a:visited { color: #20252d; padding: 0.0909em; }
	
	.submitted a:hover { color: #20252d; background: #ccc; }
.entry { font-size: 1em; line-height: 1.5385em; border-bottom: 0.28277em double #ccc;  }
	
	.entry a, .entry a:visited { padding: 1px 0; border-bottom: 1px solid #bbb; }
	
	.entry a:hover { padding: 1px 0; color: #fff; background: #a90000; border-bottom: none; }
	
	.entry p { margin: 0 0 1.5385em 0; }

	.entry ul, .entry ol { margin: 0 0 1.5385em 3.0em; }
	
	.entry ul { list-style-type: disc; }
	
		.entry li { }
		
			.entry ul li ul, .entry ul li ol, .entry ol li ul, .entry ol li ol { margin: 0 0 0 1.5em; }
	


.links { margin: 0 0 4.5385em 0; padding: 0.3846em 0 0 0; font-size: 1em; line-height: 1.0em; clear: both; }

	.links a:hover { color: #20252d; border-bottom: 1px solid #a90000; }
#picture{
float: left;
padding: 3px;
}

/* Comments */


		
.comment {
  background-color: #ececec;
  padding: 10px;
}

.commentfooter {
  background: url(images/commentarrow.gif) no-repeat 20px 0;
  color:#4a4a4a;
  font-size: 0.9em;
  margin-bottom: 2em;
  padding-left: 58px;
  padding-top: 1px;
}
#comments .links li {
  background: none;
  list-style-type: none;
  list-style-image: none;
  margin: 0; padding: 0;
}

/* Sidebar styles */
#main_supplements,
#secondary_supplements {
  font-size: 1em;
  background: #EFEEE4 ;

}


#main_supplements .block,
#secondary_supplements .block {
  margin: .5em 0;
  padding: .5em;
}
	#main_supplements h2,
#secondary_supplements h2 { font-size: 1.3em; line-height: 1.5556em; margin: 0 0 0.5em 0; border-bottom: 0.166667em double #ccc; color: #20252d; }


/* Search block styles */
#search-theme-form .search-input {
  width: 15%;
}

/* Footer styles */
#footer {
  clear: both;
  padding: .5em;
  text-align: center;
}
#copyright{
  background: #888;
  float: right;
  font: 0.8em;
}
#copyright a{
 color: #ccc;
 
}
#header:after, #logo:after, #nav:after, #content_box:after, .page .entry:after, #comments:after, dl#comment_list dd:after, #comment_form:after { display: block; height: 0; content: "."; visibility: hidden; clear: both; }

/**********Display Icons *******************/
li.comment_comments a {
  padding-left: 20px;
  background:url(icons/comment.png)  no-repeat 0 2px;
}
li.comment_add a {
  background: url(icons/comment_add.png) no-repeat 0 1px;
  padding-left: 18px;
}

li.node_read_more a {
  background: url(icons/readmore.png) no-repeat 0 2px;
  padding-left: 18px;
}

li.upload_attachments a {
  background: url(icons/mini-attachment.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_delete a {
  background: url(icons/comment_delete.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(icons/comment_edit.png) no-repeat 0 0;
  padding-left: 18px;
}

li.comment_reply a {
  background: url(icons/comment_add.png) no-repeat 0 0;
  padding-left: 18px;
}
